<head>
  <link rel="stylesheet" href="application.css">
</head>
<h1> Showing created article</h1>

<p1> Title:<i> <%= @article.title %></i></p1><br/>
<p1> Description:<i> <%= @article.description %></i></p1>