<center><h1>About Page</h1></center>
<ul><li><%= link_to 'home', root_path %></li>
        <li><a>contacts</a></li>
        <ul style="float:right;list-style-type:none;">
    <li><%= link_to 'about', about_path %></li>
        </ul>
</ul><br>
<div class="newspaper">
<center><p1> about what? about what? about what? about what? about what? about what? about what? about what? about what? about what? about what? about what? about what? about what? about what? </p></center> 
</div><br>


</body>
</html>