<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="application.css">
</head>
<body>

<center><h1>Home Page</h1></center>
<ul><li><a>home</a></li>
        <li><a>contacts</a></li>
        <ul style="float:right;list-style-type:none;">
    <li><%= link_to 'about', about_path %></li>
        </ul>
</ul><br>
<div class="newspaper">
<center><p1> Welcome to seans home page here you will find a link to the about page. I am testing out css styles and having a lot of fun.
There is loads you can do.</p></center> 
</div><br>


</body>
</html>